/*Body*/
body{
	margin:0;
	padding: 0;
}

/*Header of the website*/
.header{
	width: 100%;
	height: 400px;
	background-image: linear-gradient(white, pink);
	background-size: cover;
	text-align: center;
	margin: 0 auto;
	padding: 15%;
}

/*About Section*/
.about{
	padding: 5%;
}


/*Skills Section*/
.portfolio .skills h2, p{
	text-align: center;
	padding:4%;
}

.portfolio .skills .grid-container{
	display: grid;
	text-align: center;
	align-content: center;
	grid-template-columns: auto auto auto;
	grid-column-gap: 0px;
	grid-row-gap: 50px;
}

.portfolio .skills .grid-container .grid-item .devicon-html5-plain-wordmark{
	font-size: 96px;
}

.portfolio .skills .grid-container .grid-item .devicon-cplusplus-plain{
	font-size: 96px;
}

.portfolio .skills .grid-container .grid-item .devicon-css3-plain{
	font-size: 96px;
}

.portfolio .skills .grid-container .grid-item .devicon-bootstrap-plain-wordmark{
	font-size: 96px;
}

.portfolio .skills .grid-container .grid-item .devicon-git-plain{
	font-size: 96px;
}

.portfolio .skills .grid-container .grid-item .devicon-c-line-wordmark{
	font-size: 96px;
}

.portfolio .skills .grid-container .grid-item .devicon-mysql-plain{
	font-size: 96px;
}

.portfolio .skills .container{
	text-align: center;
}

#linkedin-click{
	text-decoration-style: 
}

/*Work Experience Section*/
.work-exp h3{
	padding-top: 6%;
	text-align: center;
}

#logo{
	text-align: center;
	padding: 4%;
}

.work-exp .container-fluid{
	padding: 4%;
}

.work-exp .card-body{
	text-align: center;
	
}

.work-exp .card{
	padding:7%;
	margin-bottom:7%;
}

/*Project Experience Section*/
.proj-exp h3{
	text-align: center;
}

#proj-carousel{
	padding: 4%;
	background-color: pink;
	height: 500px;
}

#laptopContainer{
	text-align: center;
	padding-top: 3%;
}

#laptop{
	border: 6px double white;
	padding: 6%;
	border-radius: 34%;
}



/*Contacts*/
.contact{
	padding-top: 4%;
}

.contact h4{
	text-align: center;
}

#email-contact{
	padding: 3%;
}

.contact .container-fluid{
	text-align: center;
	padding: 2%;
}