/*Body*/
body, html{
	margin:0;
	height: 100%;
	padding: 0;
}

/*Overflow Properties*/
#skills, #work-exp, #proj-exp{
	overflow: auto;
} 

/*Navbar*/
.changeTransparentToSolid{
	background-color: rgba(245,245,245,0.7);
}

/*Header of the website*/
.header{
	width: 100%;
	height: 100%;
	background-image: url("Images/afterglow-background-beautiful-552791.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
	margin: 0 auto;
	padding: 15%;
}

/*About Section*/
.about{
	height: 100%;
	width: 100%;
	background-image: url("Images/background-background-image-clouds-1054289.jpg");
}

.about .container-fluid{
	padding-top: 5%;
	height: 100%;
}

.about h3{
	text-align: center;
	padding: 4%;
}

.about .container-fluid .row .col-md-4{
	text-align: center;
}

.about .container-fluid p{
	padding: 2%;
	text-align: left;
	background-color: rgba(245,245,245,0.4);
}

#misc{
	padding: 3%; 
	text-align: center;
}

.fa-file-alt , .fa-file{
	color: black;
	padding: 6%;
}

.fa-file-alt:hover, .fa-file:hover{
	color:white;
}

#misc p{
	text-align: center;
}

/*Skills Section*/
#portfolio{
	padding: 5%;
	height: 100%;
	width: 100%
	
}

.portfolio{
	background-image:url("Images/desktop-2325627_1920.jpg");
}

.skills{
	background-color: rgba(245,245,245,0.7);
}

.portfolio .skills h2, p{
	text-align: center;
	padding:2%;
}

.portfolio .skills .grid-container{
	display: grid;
	text-align: center;
	align-content: center;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 0px;
	grid-row-gap: 50px;
}

.portfolio .skills .grid-container .grid-item .fa-java:hover{
	color:red;
}

.portfolio .skills .grid-container .grid-item .fa-python:hover{
	color:lightblue;
}

.portfolio .skills .grid-container .grid-item .devicon-html5-plain-wordmark{
	font-size: 96px;
}

.portfolio .skills .grid-container .grid-item .devicon-html5-plain-wordmark:hover{
	color: orange;
}

.portfolio .skills .grid-container .grid-item .devicon-cplusplus-plain{
	font-size: 96px;
}

.portfolio .skills .grid-container .grid-item .devicon-cplusplus-plain:hover{
	color: magenta;
}

.portfolio .skills .grid-container .grid-item .devicon-css3-plain{
	font-size: 96px;
}

.portfolio .skills .grid-container .grid-item .devicon-css3-plain:hover{
	color: blue;
}

.portfolio .skills .grid-container .grid-item .devicon-bootstrap-plain-wordmark{
	font-size: 96px;
}

.portfolio .skills .grid-container .grid-item .devicon-bootstrap-plain-wordmark:hover{
	color: purple;
}

.portfolio .skills .grid-container .grid-item .devicon-git-plain{
	font-size: 96px;
}

.portfolio .skills .grid-container .grid-item .devicon-git-plain:hover{
	color: #ff4500;
}

.portfolio .skills .grid-container .grid-item .devicon-c-line-wordmark{
	font-size: 96px;
}

.portfolio .skills .grid-container .grid-item .devicon-c-line-wordmark:hover{
	color: #7fffd4 ;
}

.portfolio .skills .grid-container .grid-item .devicon-mysql-plain{
	font-size: 96px;
}

.portfolio .skills .grid-container .grid-item .devicon-mysql-plain:hover{
	color: #9932CC;
}

.portfolio .skills .grid-container .grid-item .fa-android:hover{
	color: #a4c639 ;
}

.portfolio .skills .grid-container .grid-item .fa-flask:hover{
	color: lightgreen;
}

.portfolio .skills .grid-container .grid-item .fa-brain:hover{
	color: #b666d2;
}

.portfolio .skills .container{
	text-align: center;
}

.portfolio .skills .container p{
	padding-bottom: 0;
}

#android-icon{
	height: 120px;
	width: 120px;
}

#research-icon{
	height: 120px;
	width: 120px;
}

#ml-icon{
	height: 120px;
	width: 120px;
}

#linkedin-click{
	text-decoration: none;
	padding-bottom: 5%;
}

/*Work Experience Section*/

.work-exp {
	height: 140%;
	width: 100%;
	background-image: url(Images/digital-1742687_1920.jpg);
}

.work-exp h3{
	padding-top: 6%;
	text-align: center;
	color: white;
}

#logo1, #logo2, #logo3, #logo4{
	text-align: center;
	padding: 4%;
}

.work-exp .container-fluid{
	padding: 4%;
}

.work-exp .card-body{
	text-align: center;
	
}

.work-exp .card{
	padding:7%;
	margin-bottom:7%;
}

/*Project Experience Section*/

.proj-exp{
	height: 140%;
	width:100%;~
	padding-top: 0%;
	background-image: url("Images/icon-1379228_1920.png");
}

.proj-exp .container-fluid{
	padding: 4%;
}

.proj-exp h3{
	text-align: center;
	padding-top: 8%;
}

.proj-exp .container-fluid .row{
	padding: 2%;
}

#r1 p, #r2 p, #r3 p, #r4 p{
	text-align: left;
	padding: 0; 
}

.fa-sheild-alt{
	color: chartreuse
}

.fa-globe{
	color: black;
}

.fa-globe:hover{
	color: cadetblue;
}

.proj-exp .container-fluid .col-md-4{
	text-align: center;
}

/*Research Experience Section*/

.research-exp{
	height: 100%;
	width: 100%;
	background-image: url("Images/network-782707.png");
}

.research-exp h4{
	text-align: center;
	padding-top: 8%;
}
.research-exp .container-fluid{
	background-color:  rgba(245,245,245,0.94);
	height: 100%;
}

.research-exp .container-fluid .row{
	padding: 4%;
}

.research-exp .container-fluid .col-md-12:nth-child(2){
	text-align: center;
}

.research-exp p{
	text-align: left;
	padding: 0;
}

#ns3_logo{
	width: 400px;
	height: 255px;
}

/*Contacts*/
#contact{
	padding: 5%;
	height: 80%;
	width: 100%;
	background-image: url("Images/email-marketing-2362038_1920.png");
}

.contact h4{
	text-align: center;
	padding-top: 10%;
}

#email-contact{
	padding: 3%;
}

.contact .container-fluid{
	text-align: center;
	padding: 2%;
}